@tailwind base;
@tailwind components;
@tailwind utilities;



/* NewCard.css */
@keyframes slideInFromBottom {
    from {
      transform: translateY(10px); /* Start the button slightly below */
      opacity: 0;
    }
    to {
      transform: translateY(0); /* Move the button to its original position */
      opacity: 1;
    }
  }
  
  .fade-in-button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation: slideInFromBottom 0.3s ease-in-out forwards; /* Apply the animation */
  }















/* Add custom text to year dropdown options */
.react-datepicker__year-option {
    position: relative;

}

.react-datepicker__year-option a {
    position: relative;
    display: block; /* Ensure the anchor takes up the full width of the option */
    padding: 5px; /* Adjust padding as needed */
    text-decoration: none; /* Remove underline */
    text-indent: 0em;
}

.react-datepicker__year-option a::before {
    content: "O "; /* Add your custom text here */
    font-weight: bold; /* Adjust font style as needed */

    text-indent: 0em;
}




